#footer
      .container
        .row
          .col-sm-3.copyright
            | Informatics 2014
          .col-sm-6.menu
            ul
              li(class=title=='Features'?'active':undefined)
                a(href='features') Features
              li(class=title=='Services'?'active':undefined)
                a(href='services') Services
              li(class=title=='Pricing'?'active':undefined)
                a(href='pricing') Pricing
              li(class=title=='Support'?'active':undefined)
                a(href='support') Support
              li(class=title=='Blog'?'active':undefined)
                a(href='blog') Blog
          .col-sm-3.social
            a(href='#')
              img(src='images/social/social-tw.png', alt='twitter')
            a(href='#')
              img(src='images/social/social-dbl.png', alt='dribbble')